<% include partials/landing_header.ejs %>

<div id="landing-header">
    <div class="landing_border opacity">
    <h1>Welcome to YelpCamp</h1>
    <a class="btn btn-primary" href="/campgrounds">View All Campgrounds</a>
    </div>
</div>

<div id="unsplash">
    <p>All photos from <a href="https://unsplash.com/" target="_blank">Unsplash.com</a></p>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include partials/footer %>